.width-prop {
	position: relative;
	width: 40.0%;
}

@media screen and (min-width: 10px) {
	.width-prop {
		width: 40.0%;
	}
}

.text {
	font-size: 4vw;
	width: 60%;
	max-width: 300px;
}
@media screen and (min-width: 510px) {
	.text {
		font-size: 3.5vw;
	}
}

.max-w {
	max-width: 500px;
}

.name-font-sty {
	font-size: 5vw;
}
